@model Product
@{
    ViewBag.Title = "Product Name";
}

<p>Product Name = @Model.Name</p>
<p>Product Price =@($"{Model.Price}") </p>
@if (Model.ProductId == 1)
{
    @:Id = 1
    <p>@Model.Description</p>
}
